html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

body{
width: 100vw;
height: auto;
min-height: 100vh;
margin: 0;
padding: 0;
overflow-x: hidden;
background-color: pink;
user-select: none;

}

a{
    text-decoration: none;
    color: inherit;
}
.container{
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;


}